{% extends 'base.html.twig' %}
{% block body %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %} Info news {% endblock %}
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid p-5 bg-dark text-white text-center">
  <h1>{{ title|upper }}</h1>
  <p>Dodawaj, edytuj oraz usuwaj swe wpisy.</p>
  {% if app.user %}
  <div class="alert alert-success">Witaj, {{ app.user.email }}!</div>
  {% endif %}
</div>

 <div class="container mt-5 h-100">
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Zaloguj się</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <form action="{{ path('app_login') }}" method="post">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email" name="_username" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Hasło" name="_password" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
     </div>
</div>
    <!-- Button to open the offcanvas sidebar -->
  <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
  Zaloguj się
  </button>
   <a href="{{ path('app_register') }}"><button type="button" class="btn btn-dark">Zarejestruj się</button></a>
   {% if app.user %}
     <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-dark">Wyloguj się</button></a>
   {% endif %}
   {% if app.user %}
     <a href="{{ path('app_menu') }}"><button type="button" class="btn btn-dark">Newsy</button></a>
   {% endif %}
 </div>

<div class="container mt-5 h-100">
  <div class="row">
    <div class="col-md-12 text-white">
      <h3>Column 1</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
        looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
        Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
        very popular during the Renaissance.</p>
    </div>
  </div>
</div>
<div class="mt-5 p-5 bg-dark text-white text-center position-absolute bottom-0 start-0 end-0 " >
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.</p>
</div>
</body>
{% endblock %}


